<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="net.planetes.eclipse.jslint.objectContribution1"
            nameFilter="*.js"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="net.planetes.eclipse.jslint.ValidateWithJSLintActionDelegate"
               icon="icons/jslint.gif"
               id="net.planetes.eclipse.jslint.actions.ValidateWithJSLint"
               label="Validate with JSLint">
         </action>
      </objectContribution>
   </extension>

</plugin>
